.balance-table {
     color: #005eaa;
     > thead {
         background-color: #dddddd;
     }

     > tbody > tr {
         border: none;
         background-color: white;

         &:nth-child(even) {
             background-color: #dddddd;
         }

         > td {
             border: none;
         }
     }
 }

.dash-table {
    color: #005eaa;
    width: 50%;

    > tbody > tr {
        border-bottom: 1px solid #dddddd;
        background-color: white;

        > td {
            border: none;
        }
    }
}