.login {
    &-form {
        margin: 0 auto;
        width: 75%;
        background: transparent linear-gradient(180deg, #235347 0%, #051F20 100%) 0% 0% no-repeat padding-box;
        border: 1px solid #235347;
        border-radius: 30px;
        text-align: center;
        position: relative;
        top: 50px;

        input {
            height: 40px;
            border-radius: 30px;
            border: none;
            padding-left: 2%;
            margin-top: 20px;

            &:focus {
                outline: none;
                border: 1px solid #DADBDA;
            }

            &::placeholder {
                color: #E7E7E7;
            }

        }
    }

    &-button {
        display: inline-block;
        padding: .75rem 1.75rem;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: none;
        margin: 30px 0;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #6DAC41;
            border-radius: 20px;
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken(#6DAC41, 10%);
            transition: all .3s;
            border-radius: 20px;
            z-index: -1;
        }

        &:focus {
            outline: none;
            border: none;
        }

        &:hover {
            color: #fff;

            &:before {
                width: 100%;
            }
        }
    }
}

.toggle-password {
    > .field-icon {
        margin-left: -36px;
        padding-right: 20px;
        cursor: pointer;
        color: #E7E7E7;

        &:focus {
            padding-right: 20px;
        }
    }
}

.border-login {
    border-right: 1px solid #ccc;
    @include media-breakpoint-down(sm) {
        border-bottom: 1px solid #ccc;
        border-right: none;
        padding: 20px;
        margin-bottom: 30px;
    }
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}