.pending {
    &-box {
        margin-top: 20px;
        background: #ccdfee 0% 0% no-repeat padding-box;
        padding: 20px;
    }

    &-text {
        color: #005EAA;
        text-align: center;
    }

}

.list-thumb{
    background-color: #FFFFFF;
    border-radius: 50%;
    border-radius: 50%;
    position: relative;
    width: 80px;
    height: 80px;
}