$font-path: '/fonts';
$images-path: '/images';

$color-light-gray: #F8F8F8;
$color-gray: #F2F2F2;
$color-dark-gray: #7F8685;
$color-blue: #154064;
$color-green: #009057;
$color-dark-blue: #005EAA;

/*
|--------------------------------------------------------------------------
| Font Settings
|--------------------------------------------------------------------------
*/
$text-normal: 'Mada-Regular';
$text-bold: 'Mada-Bold';